<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between py-6 px-0 sm:p-6 lg:px-8" aria-label="Global">
    <a href="<%= relative_url('/') %>" class="-m-1.5 p-1.5 text-lg font-bold uppercase text-sky-900">Blog</a>
    <div class="flex lg:gap-x-12 flex-col sm:flex-row sm:space-x-4">
      <a href="<%= relative_url('/about') %>" class="text-sm text-right sm:font-semibold leading-6 text-sky-900 hover:text-sky-500 hover:underline">Acerca de</a>
      <a href="<%= relative_url('/posts') %>" class="text-sm text-right sm:font-semibold leading-6 text-sky-900 hover:text-sky-500 hover:underline">Publicaciones</a>
    </div>
  </nav>
</header>
